<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Drive Recognizer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <h1>Secure Drive Recognizer</h1>
        <form method="post" action="{{ url_for('recognize_face_route') }}">
            <button type="submit">Recognize Face</button>
        </form>
    </div>
</body>

</html>